td {
  width: 180px;
  padding: 20px;
  text-align: end;
}

.up {
  color: #26a96a;
  padding-right: 50px;
}

.down {
  color: #ef5350;
  padding-right: 50px;
}

.upbitName {
  text-align: start;
}

.dollor {
  font-size: 14px;
  opacity: 0.5;
}

.tp {
  text-align: end;
  padding-right: 60px;
}

@media (min-width: 300px) and (max-width: 520px) {
  * {
    font-size: 12px;
  }

  .engName {
    font-size: 10px;
    opacity: 0.5;
  }
  .dollor {
    font-size: 10px;
  }

  .remove {
    display: none;
  }
  td {
    width: 100px;
  }
  .up {
    color: #26a96a;
    padding-right: 0px;
  }
  .down {
    color: #ef5350;
    padding-right: 0px;
  }
  .tp {
    padding-right: 0px;
  }
}

@media (min-width: 520px) and (max-width: 880px) {
  * {
    font-size: 12px;
  }
  .remove {
    display: none;
  }
  .up {
    color: #26a96a;
    padding-right: 30px;
  }

  .down {
    color: #ef5350;
    padding-right: 30px;
  }
  .tr > td {
    padding-bottom: 10px;
  }

  .tp {
    text-align: end;
    padding-right: 30px;
  }
  .engName {
    font-size: 10px;
    opacity: 0.5;
  }
}

.engName {
  font-size: 13px;
  opacity: 0.5;
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tr > td {
  padding-top: 15px;
}
