td {
  width: 180px;
  padding: 20px;
  text-align: end;
}

.up {
  color: #26a96a;
}

.down {
  color: #ef5350;
}

.upbitName {
  text-align: start;
}

@media (max-width: 700px) {
  * {
    font-size: 12px;
  }
  .remove {
    display: none;
  }
  .up {
    color: #26a96a;
  }

  .down {
    color: #ef5350;
  }
  .tr > td {
    padding-bottom: 10px;
  }
}

.engName {
  font-size: 10px;
  opacity: 0.5;
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tr > td {
  padding-top: 15px;
}
