@media (max-width: 880px) {
  .remove {
    display: none;
  }
}

/* @media (max-width: 550px) {
  .tr > th {
    width: 50px;
  }
} */

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.tr > th {
  padding-bottom: 20px;
}
